# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite output
dist/

# Env files
.env
.env.*.local

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
logs
*.log
*.tsbuildinfo

# Optional: if you're using Firebase locally
.firebase/
.firebaserc
